@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 84.2% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 15%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 84.2% 96%;
    --accent-foreground: 0 84.2% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 91.4%;
    --input: 0 0% 91.4%;
    --ring: 0 84.2% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 84.2% 60%;
    --primary-foreground: 0 0% 4.9%;
    --secondary: 0 0% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 17.5%;
    --muted-foreground: 0 0% 65.1%;
    --accent: 0 84.2% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 17.5%;
    --input: 0 0% 17.5%;
    --ring: 0 84.2% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-40%) scale(1);
  }
}

.animate-spotlight {
  animation: spotlight 2s ease 0.75s 1 forwards;
}


